.messageIndicate {
    width: 21px;
    height: 21px;
    background: #FAC704;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-top: -10px;
    a {
        color: #101011;      
    }
}